node_modules

apps/backend/dist/

packages/domain/dist/

.env

packages/domain/coverage/

packages/infrastructure/dist/

packages/infrastructure/coverage/

apps/backend/coverage/

packages/test-utils/dist/

packages/components/dist/
